<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSCameraUsageDescription</key>
	<string>MaimaiPOV requires camera access for live streaming</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>MaimaiPOV requires microphone access for ambient audio capture</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>MaimaiPOV needs photo library access to choose images for the live video overlay</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>MaimaiPOV needs local network access to connect to test streaming servers</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>metal</string>
		<string>arm64</string>
	</array>
</dict>
</plist>
